@model IEnumerable<Product>

<div class="row mt-4">
    @foreach (var item in Model)
    {
        <div class="item features-image сol-12 col-md-6 col-lg-4">
            <div class="item-wrapper">
                <div class="item-img">
                    <img src="@item.ImageUrl" alt="Coffee Shop" title="">
                </div>
                <div class="item-content">
                    <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id">
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>@item.Name</strong></h6>
                    </a>
                    <p class="mbr-text mbr-fonts-style mt-3 display-7">@item.Price.ToString("c")</p>
                </div>
                <div class="mbr-section-btn item-footer mt-2"><a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-pId="@item.Id" class="btn item-btn btn-primary display-4" target="_self"><span class="mbrib-cart-add mbr-iconfont mbr-iconfont-btn"></span>Add to cart</a></div>
            </div>
        </div>
    }
